
<div id="menu">
    <a href="/">Home</a>
    <a href="/curriculum-list">Curriculums</a>
</div>

<div id="user_menu">
    <% if (typeof session_user != "undefined" && session_user) { %>
        <span>Hello, <%= session_user.name %> (<%= session_user.user_type %>)</span>
        <a href="/logout">Logout</a>

        <% if (session_user['user_type'] === 'TUTOR') { %>
            <a href="/tutor-curriculum-list">my curriculums</a>
        <% } %>

    <% } else { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <% } %>
</div>
