<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('section/head_common') %>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home - Matchbook Academy</title>
  </head>

  <body>

    <%- include('section/header'); %>

    <div class="container">
        <div id="page">
          <h1>Welcome! 환영합니다!</h1>
        </div>
    </div>

    <div class="container">
      <div id="page">
        <body>Welcome to Matchbook Academy, the online platform connecting students in need of educational assistance with volunteer tutors.</body>
        </br>
        <body>Matchbook Academy는 사회적으로 어려운 아이들과 이들을 돕고싶은 사람들을 연결해 주는 플렛폼입니다.</body>
        </br>
        </br>
        <body>To learn more about us, visit </body>
        <a href="https://www.matchbookfoundation.org/">our foundation website.</a>
      </div>
    </div>


    <%- include('section/footer'); %>

    <!-- Static -->
    <script type="text/javascript">
    $(document).ready(function() {
      console.log("READY!");
    })
    </script>
  </body>
</html>
