<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('section/head_common') %>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Reset Password</title>
  </head>

  <body>
    <%- include('section/header'); %>

    <div class="container">
      <div id="page">

        <h2>Reset Your Password</h2>

        <form action="/resetpassword" method="post">
            <div class="form-group">
                <label for="description">New Password</label>
                <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">Repeat New Password</label>
                <input type="password" name="repeat_password" placeholder="Repeat Password" class="form-control">
            </div>

          <button type="submit" value="Change" class="btn btn-primary">Change Password</button>
        </form>
      </div>
    </div>

    <%- include('section/footer'); %>

    <!-- Static -->
    <script type="text/javascript">
    $(document).ready(function() {

    })
    </script>
  </body>
</html>

