<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('section/head_common') %>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Password Reset - Matchbook Academy</title>
  </head>

  <body>
    <%- include('section/header'); %>

    <div class="container">
      <div id="page">
        <h2>Password Change Successful</h2>
        <div>
            <strong>Password changed for account with email </strong>
            <span><%= sessionModel.getUserEmail() %></span>
        </div>
      </div>
    </div>

    <%- include('section/footer'); %>

    <!-- Static -->
    <script type="text/javascript">
    $(document).ready(function() {

    })
    </script>
  </body>
</html>